button {
    text-align: center;
    background-color: var(--primary-color);
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: var(--contrast-color);
}

button:hover {
    transition: ease-in-out 0.4s;
    cursor: pointer;
    background-color: var(--muted-color);
}