.background {
    max-height: 100vh;
    max-width: 100vw;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-box {
    border-radius: 5%;
    min-width: 250px;
    min-height: 300px;
    border: 1px var(--muted-color) solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20;
}