.showPassword svg {
    box-sizing: content-box;
}

.showPassword svg:hover {
    transition: ease-in-out 0.4s;
    cursor: pointer;
    border-radius: 2px;
    color: aliceblue;
    background-color: var(--muted-color);
}