.input {
    font-size: small;
    padding: 12px;
    border-radius: 5px;
    height: 100%;
    font-family: var(--font-regular);
    color: white;
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    border: 1px solid var(--muted-color);
}