.container {
    border-radius: 8px;
    width: 100%;
    padding: 5px;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.icon svg {
    padding-inline: 4px;
    color: var(--primary-color);
    width: 15px;
    height: 15px;
}

input {
    width: 100%;
    outline: none;
    border: none;
    font-family: var(--font-regular);
}