@font-face {
    font-family: 'Ubuntu Regular';
    src: url('./fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url('./fonts/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Italic';
    src: url('./fonts/Ubuntu-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Bold Italic';
    src: url('./fonts/Ubuntu-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Light Italic';
    src: url('./fonts/Ubuntu-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Light';
    src: url('./fonts/Ubuntu-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: url('./fonts/Ubuntu-Medium.ttf') format('truetype');
}

:root {
    --font-regular: 'Ubuntu Regular', sans-serif;
    --font-bold: 'Ubuntu Bold', sans-serif;
    --font-italic: 'Ubuntu Italic', sans-serif;
    --font-bold-italic: 'Ubuntu Bold Italic', sans-serif;
    --font-light-italic: 'Ubuntu Light Italic', sans-serif;
    --font-light: 'Ubuntu Light', sans-serif;
    --font-medium: 'Ubuntu Medium', sans-serif;
    --font-color: white;
    --primary-color: black;
    --contrast-color: white;
    --secondary-color: #18181b;
    --muted-color: #27272a;
}

html {
    color: var(--font-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--font-regular);
    background-color: var(--primary-color);
    color: var(--contrast-color);
    margin: 0;
    padding: 0;
}

button {
    font-family: var(--font-bold);
    background-color: var(--contrast-color);
    outline: none;
}

a {
    text-decoration: none;
}

h1,
a,
div {
    font-family: var(--font-light);
    color: var(--font-color);
}