@font-face {
    font-family: 'Ubuntu Regular';
    src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url('./assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Italic';
    src: url('./assets/fonts/Ubuntu-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Bold Italic';
    src: url('./assets/fonts/Ubuntu-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Light Italic';
    src: url('./assets/fonts/Ubuntu-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Light';
    src: url('./assets/fonts/Ubuntu-Light.ttf');
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: url('./assets/fonts/Ubuntu-Medium.ttf');
}

:root {
    --font-regular: 'Ubuntu Regular', sans-serif;
    --font-bold: 'Ubuntu Bold', sans-serif;
    --font-italic: 'Ubuntu Italic', sans-serif;
    --font-bold-italic: 'Ubuntu Bold Italic', sans-serif;
    --font-light-italic: 'Ubuntu Light Italic', sans-serif;
    --font-light: 'Ubuntu Light', sans-serif;
    --font-medium: 'Ubuntu Medium', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-regular);
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}